.spinner {
	text-align: center;
	grid-column: 1 / -1;

	i {
		font-size: 5rem;
		color: $color-primary;
		animation: rotate 2s infinite linear;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}
