.spinner {
	text-align: center;
	grid-column: 1 / -1;

	i {
		font-size: 5rem;
		color: $color-primary;
		animation: rotate 2s infinite linear;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.error {
	margin: 4.4rem 4.4rem 0;
	padding: 2.4rem;
	grid-column: 1 / -1;
	background-color: $color-error;
	border: 3px solid $color-error-border;
	border-radius: 9px;
	height: 8rem;

	display: flex;
	align-items: center;

	&__icon {
		height: 3rem;
		width: 3rem;
		margin-right: 1.6rem;
	}

	&__message {
		font-size: 2rem;
	}
}
