.header {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 8rem;
	padding: 0 3.2rem;
	position: relative;

	&__logo {
		height: 8rem;
	}

	&__mobile-btn {
		border: none;
		background: none;
		z-index: 9999;
		cursor: pointer;
		display: none;
	}

	&__mobile-icon {
		height: 4rem;
		width: 4rem;
		color: $color-grey-dark-2;
	}

	&__mobile-icon[name='close-outline'] {
		display: none;
	}

	@media only screen and (max-width: $bp-small) {
		&__mobile-btn {
			display: block;
		}
	}
}

.sticky .header {
	position: fixed;
	top: 0;
	left: 0;
	height: 8rem;
	width: 100%;
	padding-bottom: 0;
	padding-top: 0;
	background-color: #fff;
	z-index: 9998;
	box-shadow: 0 1.2rem 3.2rem rgab(0, 0, 0, 0.05);
}

.nav {
	&__list {
		display: flex;
		list-style: none;
	}

	&__item:not(:last-of-type) {
		margin-right: 1.6rem;
	}

	&__link:link,
	&__link:visited {
		font-size: 1.8rem;
		text-decoration: none;
		color: $color-primary-dark;
		transition: all 0.3s;
	}

	&__link:hover,
	&__link:active {
		color: $color-primary;
	}

	@media only screen and (max-width: $bp-small) {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background-color: rgba($color-grey-light-1, 0.9);
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		transform: translateX(100%);
		z-index: 5000;

		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s cubic-bezier(0.69, -0.6, 0.35, 1.4);

		// hide
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}
}

.nav-open {
	& .header__mobile-icon[name='close-outline'] {
		display: block;
	}

	& .header__mobile-icon[name='menu-outline'] {
		display: none;
	}

	& .nav {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0%);
	}

	& .nav__list {
		flex-direction: column;
		align-items: center;
	}

	& .nav__item:not(:last-of-type) {
		margin-right: 0;
		margin-bottom: 1.6rem;
	}
}
